$style: "subscribe";
.#{$style} {
    background: url('../img/subscribe-bg-img.png') no-repeat center;
    background-size: cover;
    min-height: 100vh;
    padding: 180px 0 309px;
    &__container {
        @include flex(center,
        center,
        column);
    }
    &__text {
        margin-bottom: 84px;
        max-width: 873px;
        text-align: center;
        span {
            display: block;
        }
    }
    &__form {
        @include flex(flex-start,
        flex-start);
        max-width: 740px;
        margin: auto;
        position: relative;
    }
    &__input {
        max-width: 564px;
        width: 100%;
        height: 62px;
        padding: 10px 29px 0;
        outline: none;
        border: none;
        background-color: $input-bg-color;
        border-radius: 32.5px;
        &::placeholder,
        &:focus {
            margin: 0;
            @include text($btn-size,
            400,
            rgba(0, 0, 0, 0.5));
        }
    }
    &__btn {
        max-width: 222px;
        border: none;
        outline: none;
        position: absolute;
        right: 0;
    }
}