@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
//fonts
$main-font: 'Montserrat',
sans-serif;
//colors
$dark-color: #111111;
$light-color: #ffffff;
$main-color: #ff7f7f;
$input-bg-color: #f4f4f4;
$black-color: #000;
//sizes
$header-title-size: 75px;
$btn-size: 25px;
$section-title-size: 58.5px;
$seller-section-title-size: 28px;
$seller-section-text-size: 17px;
$section-big-text-size: 29.5px;
$section-small-text-size: 24.5px;
$statistics-subtitle-size: 41.5px;
$description-text-size: 33.5px;
$description-subtitle-size: 45px;
$footer-title-size: 31.5px;
$footer-text-size: 23.5px;